<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>988200599162-d7oineded06ekogrl1cjou5lciutrbrr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988200599162-d7oineded06ekogrl1cjou5lciutrbrr</string>
	<key>API_KEY</key>
	<string>AIzaSyAUCtAJ2bnzWaezNfH1qVFsvL8Ohtq1_SY</string>
	<key>GCM_SENDER_ID</key>
	<string>988200599162</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.carshare</string>
	<key>PROJECT_ID</key>
	<string>carus-app-363822</string>
	<key>STORAGE_BUCKET</key>
	<string>carus-app-363822.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988200599162:ios:422686aa98177f275245c3</string>
</dict>
</plist>